/* #body {
    background-image: url('/public/images/imageone.jpg');
    background-size: cover;
    background-position: center;
  } */

/* ^^ not sure if i'll need that, was importing it just in case */


.css-1hbyad5-MuiTypography-root {
    display: none !important;
}

.css-1e6y48t-MuiButtonBase-root-MuiButton-root {
    display: none !important;
}

.css-16b5y55-MuiPickersLayout-contentWrapper {
    padding-bottom: .1%;
}


#pick-a-date-text {
    color: white;
    text-align: center;
}

.css-1u23akw-MuiButtonBase-root-MuiPickersDay-root.Mui-selected:hover {
    
    background-color: #288e4f;

}
.css-1u23akw-MuiButtonBase-root-MuiPickersDay-root:focus.Mui-selected {
    
    background-color: #15c073;
}

/* targets the calendar */
/* .css-4pax7l-MuiPickersLayout-root {
    display: grid;
    grid-auto-columns: max-content auto max-content;
    grid-auto-rows: max-content auto max-content;
    overflow: hidden;
    min-width: 320px;
    background-color: rgba(165, 194, 160, 0.817)
    
} */



/* .MuiPickersLayout-root {
    background-color: rgba(165, 194, 160, 0.211);
} */




