

.css-1hbyad5-MuiTypography-root {
    display: none !important;
}

.css-1e6y48t-MuiButtonBase-root-MuiButton-root {
    display: none !important;
}

.css-16b5y55-MuiPickersLayout-contentWrapper {
    padding-bottom: .1%;
}


#pick-a-date-text {
    color: white;
    text-align: center;
}

.css-1u23akw-MuiButtonBase-root-MuiPickersDay-root.Mui-selected:hover {
    
    background-color: #288e4f;

}
.css-1u23akw-MuiButtonBase-root-MuiPickersDay-root:focus.Mui-selected {
    
    background-color: #15c073;
}