

/* #add-exercise-btn {
    
    
    background-color: rgb(46, 189, 170);
    color: #f8f8f8;
    
} */
#calendar-btn {
    padding: 5px 10px;
    border-color: #014041;
    border-width: 1px 1px 3px;
    border-radius: 4px;
    background-color: #567d78;
    color: #f8f8f8;
    font-size: 1.1rem;
    outline: 0;
    cursor: pointer;
}

#add-exercise-btn {
    padding: 10px 20px;
    border-color: #014041;
    border-width: 1px 1px 3px;
    border-radius: 4px;
    background-color: #567d78;
    color: #f8f8f8;
    font-size: 1.1rem;
    font-weight: bolder;
    outline: 0;
    cursor: pointer;
}


#delete-button {
    background-color: lightcoral;
}

#edit-cancel-button {
    background-color: lightcoral;
}

#edit-save-button {
    background-color: rgb(32, 163, 113);
}

#no-exercises {
    color: white;
    text-align: center;
}