

/* .css-34nofg-MuiTableRow-root {
    max-width: 300px ;
} */



/* body.session-component {
        background-image: url('/public/images/imagefive.jpg');
        background-size: cover;
        background-position: center;
}    */
